.main_footer{ 
    position: relative;
    width: 100%;
    min-height: 20px;
    background-color: var(--grey-bk);
    z-index: 100;
    color: var(--white);
    padding: 50px 0  ; 
    text-align: center;
}