.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  min-height: 100vh;
  color: var(--white);
}

.sec {
  background: url("../../../public/bk.jpg") ;
  height: 100vh;
  position: relative;
  background-size: cover;
  width: 100%;
  padding: 20vh 20vw;
}

.text_holder {
  position: relative;
  width: 65%;
  height: 75%;
  padding: 1.5rem;
  /* background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px); */
}

.text_holder > h1 {
  font-size: 3.8rem;
  width: 50%;
  margin-bottom: 1rem;
}

.text_holder > a {
  position: absolute;
  bottom: 2rem;
  font-size: 1.5rem;
}

.slider_container {
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.slider_container > h1 {
  color: var(--white);
  font-size: 2rem;
}

.last {
  margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
   .sec {
    padding: 20vh 15vw;
  }
    .text_holder {
      width: 100%;
      height: 80%;
    }
    .text_holder > h1 {
    font-size: 3.5rem;
    width: 50%;
  }
}


@media screen and (max-width: 1000px) and (min-width: 800px) {
   
  
  .text_holder {
      width: 95%;
      height: 65%;
  }
  
 
 
 
}

 

@media screen and (max-width: 600px) {
   
  .sec {
    padding: 25vh 1vw;
     
  }
  .text_holder {
      width: 95%;
      height: 85%;
  }
  

  .text_holder > a {
    font-size: 1.5rem;
  }
 
 
}

@media screen and (max-width: 420px) {
  
  .text_holder {
      width: 100%;
 
  }
 
}