.nav_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 4;
    height: 70px;
    width: 100vw;
    color: var(--white);
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0.8 );
    z-index: 10000;
    
}

.nav_container > a {
    color: var(--black) !important;
}

.nav_active { 
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0.6rem 1rem rgba(255, 255, 255, 0.15);
}

 
 
.nav_box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 85vw;
    margin: 0 auto;
}

.nav_img_con {
    height: 70px;
    z-index: 100000;
    display: flex;
    align-items: center;
}

.nav_img {
    position: absolute;
     
    width: auto;
}

.nav_link_holder {
    position: absolute;
    right: 14px;
    width: 84%;
    text-transform: uppercase;
    height: 70px;
    font-size: 1.15rem;
    font-weight: 400;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    gap: 0.75rem;
}

.nav_link_holder a{
  transition: var(--transition);
}

.nav_link_holder a:hover{
    color: var(--orange);
}

.Hamburger_container{ 
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
}

.nav_link_mobile{
    height: 0;
    transition:  var(--transition);
    overflow: hidden;
    display: flex !important;
    position: unset !important;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 70px;
    row-gap: 1rem;
}

.nav_link_mobile_active {
    height: 230px;
    transition:  var(--transition);
    overflow: hidden;
}

.nav_container_mobile{ 
    overflow: hidden;
    height: 320px;
    background-color: rgba(0, 0, 0, 1);
}

.nav_link_holder > button {
    border: 0;
    background-color: transparent;
}

.nav_container_mobile  .tooltip{ 
    height: 0;
}


@media screen and (max-width: 1300px) {
    .nav_box{
    width: 96vw;
   }
  
}

@media screen and (min-width: 1141px) {
    .nav_link_mobile {
        display: none !important;
    }
     .nav_container_mobile{ 
    height: 100px;
}
}

  
@media screen and (max-width: 1140px) {
   .Hamburger_container{ 
    display: flex;
    align-items: center
    }
    .nav_link_holder{ 
        display: none;
    }
}

 
